# API Base URL para desenvolvimento
NEXT_PUBLIC_API_BASE_URL="http://localhost:3333/"

# URL do NextAuth (usado para autenticação)
NEXTAUTH_URL=http://localhost:3000/

# Segredo utilizado pelo NextAuth para criptografia e validação de tokens
NEXTAUTH_SECRET=your-nextauth-secret-here

# Segredo utilizado para assinar JWTs (tokens)
JWT_SECRET=your-jwt-secret-here
