.loader {
  border: 3px solid #f3f3f3; 
  border-top: 3px solid #737373;
  margin: 0px auto;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}