NODE_ENV=development # Node Environment IF development the url will be http://localhost:3000 else https://BackendURL

DB_DIALECT=mysql # Database dialect
DB_HOST=localhost # Database host
DB_PORT=3306 # Database port
DB_USERNAME=root # Database username
DB_PASSWORD=toor # Database password
DB_NAME=ringdb # Database schema name

ALLOWED_ORIGIN=http://localhost:3001 # Frontend URL

HOST=http://localhost # Backend Host
PORT=3000 # Backend Port
IMAGES_URL=http://localhost:3000/uploads # Backend images URL to serve images

TOKEN_SECRET=some_secret_key # JWT Secret Key
TOKEN_EXPIRATION=1d # JWT Expiration Time

GITHUB_CLIENT_ID=github_client_id # Github Client ID
GITHUB_CLIENT_SECRET=github_client_secret # Github Client Secret
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback # Github Callback URL

QUERYPARAMS_OAUTH_PRIVATE_KEY="PRIVATE_KEY" # This is a 32 char private key for encrypting query parameters | should be equal to the one in the frontend | Must have exactly 32 characters
