# Dependências do Node.js
node_modules/

# Arquivos de log
*.log

# Diretórios de build e output
dist/
build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração de IDEs (caso esteja usando alguma)
.vscode/
.idea/

# Arquivos de backup
*~
*.bak

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Diretórios de cache
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios e arquivos do sistema de pacotes
bower_components/

# Arquivos de teste temporários
coverage/
