.ring-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    width: 20rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    label {
        margin-bottom: 15px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        color: #333;
    }
    .img-container {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    input[type="text"],
    select {
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: border-color 0.3s ease;

        &:focus {
            border-color: #007bff;
            outline: none;
        }
    }

    img {
        display: block;
        margin-top: 10px;
        max-width: 100px;
        border-radius: 4px;
    }

    button[type="submit"] {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }
    .back-button {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #6c757d;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #5a6268;
        }
    }
}

.add-edit-ring {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;

    h1 {
        padding: 1rem;
        background-color: #131212;
        color: #a8a800;
        font-size: 2rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .error {
        color: red;
        font-weight: bold;
        margin-bottom: 20px;
    }
}
