.slide {
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide img {
  margin: 1rem 0;
  max-width: 200px;
  max-height: 150px;
  object-fit: cover;
}

.slide h3 {
  margin-bottom: 0.5rem;
}

.slide mark {
  margin: 0.5rem 0;
}

.slide div[role='group'] {
  padding-top: 1rem;
  justify-content: center;
}

.slide p {
  margin: 0;
}

.slide button {
  max-width: 200px;
}
