body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.slick-prev::before,
.slick-next::before {
  color: var(--pico-primary-background) !important;
  position: relative;
  top: 1px;
}
