.navBar {
  display: flex;
  gap: 30px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.selectedLink {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
}