.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  min-height: 60rem;
}

.main {
  display: flex;
  flex-direction: column;
}

.formHeaderContainer {
  display: flex;
  gap: 18px;
}

.formHeaderTab {
  margin: 0;
  color: #fafafa;
  background-color: #575757;
  padding: 1rem;
  border-radius: 8px 8px 0px 0px;
}

.formHeaderTabInactive {
  margin: 0;
  color: #575757;
  background-color: #f1efef;
  padding: 1rem;
  border-radius: 8px 8px 0px 0px;
  cursor: pointer;
}

.formulario {
  display: flex;
  flex-direction: column;
  background-color: #575757;
  gap: 15px;
  padding: 2rem;
  max-width: 40rem;
  border-radius: 0% 5%;
}

.formularioLabel {
  color: #fafafa;
  margin-bottom: 2px;
}

.formularioInputField {
  border-radius: 4px;
  background-color: #fafafa;
  border: none;
  min-width: 30rem;
  padding: 0.5rem;
}

.formularioInputField:focus {
  background-color: #f1efef;
}

.formularioContainer {
  display: flex;
  flex-direction: column;
}

.formularioImagesContainer {
  display: flex;
  gap: 10px;
}

.imageGrid {
  display: flex;
  gap: 15px;
}

.imageButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.selectedImage {
  border: 5px solid #f1efef;
}

.ringContainer {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.ringName {
  color: #f1efef;
}

.ringDisplay {
  display: flex;
  flex-direction: column;
}

.header {
  color: #f1efef;
  margin: 0;
}

.emptyLabel {
  color: #f1efef;
  font-size: 24px;
}