.container {
  min-height: calc(100vh - 73px);
  width: 100%;
  padding: 16px;
}

.title-container > h1 {
  font-size: 24px;
}

.title-container > p {
  font-size: 16px;
}

.content-container {
  padding: 16px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}