@tailwind base;
@tailwind components;
@tailwind utilities;



.carousel-container .slick-slide {
  padding: 0 10px; /* Ajuste o valor conforme necessário */
}

.slick-slide {
  justify-content: center; /* Centraliza os cards horizontalmente */
  align-items: center; /* Alinha verticalmente os cards */
}

.slick-slide img {
  
  object-fit: cover; /* Faz com que as imagens cubram o espaço disponível */
}

