.box-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 325px;
    height: auto;
    margin: 1em;
    background: #fff;
    border-radius: 10px;
    display: flex;
    color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 425px) {
    .box-cards {
        flex-direction: column;
    }

    .container-menu {
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        margin-bottom: 3em;
    }

    .card {
        width: 100%;
        margin: 0;
    }
}


.card-img {
    width: 100%;
    height: 275px;
    object-fit: fill;
    border-radius: 10px 10px 0px 0px;
}

.card-tags {
    padding: 1em;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.tag span {
    margin-right: 10px;
}

.card-info {
    width: 100%;
    height: auto;
    padding: 1em;
}