.ringCard {
  display: flex;
  flex-direction: column;
  background-color: #CBCBCB;
  margin: 1rem;
  padding: 2rem;
  gap: 8px;
  border-radius: 8px;
  min-width: fit-content;
}

.imagesContainer {
  display: flex;
  justify-content: space-between;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.icon:hover {
  cursor: pointer;
}